html
  head
    link(rel="stylesheet", href="/style.css")
  body
    h1 OAuth provider by carlbernal
    h3 Endpoints
    ul
      li / &#127825; Instructions
      li /oauth &#127825; Authorization link